---
import Projects from "../sections/Projects.astro";
import Contact from "../sections/Contact.astro";
import AboutMe from "../sections/AboutMe.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Dariana Correa" />
    <meta
      name="description"
      content="Dariana's personal portfolio for Front-End development. In order to demonstrate experience in this field."
    />
    <meta name="keywords" content="Astro, TailwindCSS" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Welcome to profile.</title>
    <script
      src="https://kit.fontawesome.com/2e825056d4.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <AboutMe />
    <Projects />
    <Contact />
  </body>
  <script src="../pages/script.js"></script>
</html>

<style is:global>
  :root {
    --accent: 161, 69, 112;
    --accent-light: 186, 115, 146;
    --accent-dark: 147, 42, 96;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    --accent-gradient-h2: #bb608f;
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    background-position: 0%;
  }
  h2 {
    transition: background 0.3s, transform 0.3s, opacity 0.3s;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0.9; /* Opacidad inicial */
	transition: all 0.30s;
  }

  h2.hover {
	transition: all 0.40s;
	color: var(--accent-gradient-h2);
    opacity: 100; /* Opacidad completa al pasar el mouse */
  }
  section {
    padding-bottom: 100px;
  }
</style>
