---
import GitHub from '../assets/icons/GitHub.astro';

interface Props {
  href: string;
  img: string;
  title: string;
  details: string;
}

const {href, img, title, details} = Astro.props;
---

<div class="card bg-[#23262D] flex flex-col w-6/12 h-auto mt-8 ml-2 mr-2 rounded-lg">
    <img class="w-full rounded-md" src={img}/>
    <a href={href}>
        <div class="info font-sans text-white opacity-70">
            <GitHub />
            <h2>{title}</h2>
            <p>{details}</p>
        </div>
      </a>
</div>