---
import ImgDescription from '../components/Img-Description.astro';
---

<section class="m-auto" id="AboutMe">
    <!-- <h1 class="text-gradient mt-[2em]">About Me</h2> -->
    <ImgDescription 
        name="Dariana"
        description="My passion is create design webs, optimize SEO and generate dinamism to the siteweb."
    />
</section>