---
import ImgDescription from '../components/Img-Description.astro';
---

<section class="m-auto" id="AboutMe">
    <h1 class="text-gradient pt-5">About Me</h2>
    <ImgDescription 
        img="https://res.cloudinary.com/de6eyyodx/image/upload/v1704237754/Portfolio/assets/152656800_vthh6k.png"
        name="Dariana"
        description="My passion is create design webs, optimize SEO and generate dinamism to the siteweb."
    />
</section>