---
import NavLink from '../components/Navigation.astro'

---
<section>
  <main>
    <h1>Welcome to profile of <span class="text-gradient">Daridjcm</span></h1>
    <p class="instructions">
      Welcome to resume of profile<code>Daridjcm</code>, here in this section
      summary of the entire website, <strong>tap on some of the boxes to navigate</strong>.
    </p>
    <ul role="list" class="link-card-grid">
      <NavLink
        href=""
        title="About me"
        body="Learn more about me."
      />
      <NavLink
        href="https://daridjcm.vercel.app"
        title="Portfolio"
        body="Portfolio official."
      />
      <NavLink 
        href=""
        title="Projects"
        body="Small projects, during the practice."
      />    
      <NavLink
        href=""
        title="Contact Me"
        body="GitHub, LinkedIn, Twitter, Discord and Gmail."
      />
    </ul>
  </main>
</section>
