---
import CardProject from '../components/CardProject.astro';
---
<section class="bg-[#1a1c20]" id="Projects">
	<h1 class="text-gradient pt-5">Projects</h1>
    <div class="flex lg:flex-row sm:flex-col items-center pb-5">
		<CardProject
			href="https://daridjcm.github.io/ButtonBlue/"
			title="The Button Blue"
			details="A minigame with JavaScript, counting clicks until you reach the end. Put it to the test!"
		/>
		<CardProject
			href="https://daridjcm.github.io/Menu/"
			title="Menu Dishes"
			details="Dishes with taxes, without taxes and with discounts depending on the number of diners."
		/>
		<CardProject
			href="https://calculator-daridjcm.vercel.app/"
			title="Calculator"
			details="With the calculator you can add, subtract, multiply and divide, the basics."
		/>
		<CardProject
			href="https://daridjcm.vercel.app"
			title="Portfolio v.1"
			details="Personal portfolio website. I did it with the Boostrap5 framework. Click for see more."
		/>
	</div>
	<div class="flex lg:flex-row sm:flex-col items-center pb-5">
		<CardProject 
			href="https://notes-list-app.vercel.app/"
			title="Notes"
			details="Create notes, remember for your tasks and delete of it in a single click."
		/>
		<CardProject 
			href="https://github.com/Daridjcm/myLife"
			title="myLife"
			details="Coming soon! I am working on this project but not ready yet."
		/>
		<CardProject 
			href="#"
			title="Coming soon!"
			details="Coming soon! I am working on this project but not ready yet."
		/>
	</div>
</section>
