---
import CardProject from '../components/CardProject.astro';
---

<section id="Projects">
	<h1 class="text-gradient">Projects</h3>
    <div class="flex lg:flex-row sm:flex-col items-center pb-5">
		<CardProject
			href="https://daridjcm.github.io/ButtonBlue/"
			img="https://res.cloudinary.com/de6eyyodx/image/upload/v1705351205/Portfolio-v2/assets/images/TheButtonBlue_gvreq0.png"
			title="The Button Blue"
		/>
		<CardProject
			href="https://daridjcm.github.io/Menu/"
			img="https://res.cloudinary.com/de6eyyodx/image/upload/v1705422897/Portfolio-v2/assets/images/MenuDishes_skwlno.png"
			title="Menu Dishes"
		/>
		<CardProject
			href="https://github.com/Daridjcm/Portfolio/tree/main/projectsPortfolio/Calculator/"
			img="https://res.cloudinary.com/de6eyyodx/image/upload/v1705351918/Portfolio-v2/assets/images/Calculator_nljxu0.png"
			title="Calculator"
		/>
		<CardProject
			href="https://github.com/Michael-Liendo/todo-list-app"
			img="https://res.cloudinary.com/de6eyyodx/image/upload/v1714610710/Portfolio-v2/assets/images/NotesListApp.png"
			title="Notes List App"
		/>
	</div>
</section>
