---
import CardProject from '../components/CardProject.astro';
---
<section class="bg-[#1a1c20]" id="Projects">
	<h1 class="text-gradient pt-5">Projects</h1>
    <div class="flex lg:flex-row sm:flex-col items-center pb-5">
		<CardProject
			href="https://daridjcm.github.io/ButtonBlue/"
			img="https://res.cloudinary.com/de6eyyodx/image/upload/v1705351205/Portfolio-v2/assets/images/TheButtonBlue_gvreq0.png"
			title="The Button Blue"
			details="A minigame with JavaScript, counting clicks until you reach the end. Put it to the test!"
		/>
		<CardProject
			href="https://daridjcm.github.io/Menu/"
			img="https://res.cloudinary.com/de6eyyodx/image/upload/v1705422897/Portfolio-v2/assets/images/MenuDishes_skwlno.png"
			title="Menu Dishes"
			details="Dishes with taxes, without taxes and with discounts depending on the number of diners."
		/>
		<CardProject
			href="https://github.com/Daridjcm/Portfolio/tree/main/projectsPortfolio/Calculator/"
			img="https://res.cloudinary.com/de6eyyodx/image/upload/v1705351918/Portfolio-v2/assets/images/Calculator_nljxu0.png"
			title="Calculator"
			details="With the calculator you can add, subtract, multiply and divide, the basics."
		/>
		<CardProject
			href="https://daridjcm.vercel.app"
			img="https://res.cloudinary.com/de6eyyodx/image/upload/v1706039724/Portfolio-v2/assets/images/portfolioV.1.0_nbfgfm.png"
			title="Portfolio v.1"
			details="Personal portfolio website. I did it with the Boostrap5 framework and now I don't like it."
		/>
	</div>
</section>
