---
import CardProject from '../components/CardProject.astro';
---

<section class="bg-[#1a1c20]" id="Projects">
	<h1 class="text-gradient pt-5">Projects</h3>
    <div class="flex lg:flex-row sm:flex-col items-center pb-5">
		<CardProject
			href="https://daridjcm.github.io/ButtonBlue/"
			img="https://res.cloudinary.com/de6eyyodx/image/upload/v1705351205/Portfolio-v2/assets/images/TheButtonBlue_gvreq0.png"
			title="The Button Blue"
		/>
		<CardProject
			href="https://daridjcm.github.io/Menu/"
			img="https://res.cloudinary.com/de6eyyodx/image/upload/v1705422897/Portfolio-v2/assets/images/MenuDishes_skwlno.png"
			title="Menu Dishes"
		/>
		<CardProject
			href="https://github.com/Daridjcm/Portfolio/tree/main/projectsPortfolio/Calculator/"
			img="https://res.cloudinary.com/de6eyyodx/image/upload/v1705351918/Portfolio-v2/assets/images/Calculator_nljxu0.png"
			title="Calculator"
		/>
		<CardProject
			href="https://daridjcm.vercel.app"
			img="https://res.cloudinary.com/de6eyyodx/image/upload/v1706039724/Portfolio-v2/assets/images/portfolioV.1.0_nbfgfm.png"
			title="Portfolio v.1"
		/>
	</div>
</section>
